
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #2dc997;
}

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
  z-index: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff url("../img-01/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #2dc997;
  color: #fff;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100vw;
  height: 100vh;
  background: url("../img/01.jpg") top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 300;
  top: 0;
  left:300;
  right: 0;
  padding:30px;
  justify-content: ;
  align-items: right;

}

#hero h1 {
  margin: 20px 0 20px 0;
  font-size: 55px;
  font-weight: 100;
  line-height: 60px;
  text-transform: ;
  color: #2822a9;
  text-align: right;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  margin: 10px 0 10px 0;
  font-size: 25px;
  font-weight: 100;
  line-height: 25px;
  text-transform: ;
  color: #2822a9;
  text-align: right;

}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}



/*--------------------------------------------------------------
# Hero1 Section

--------------------------------------------------------------*/



#hero1 .hero1-container {
  position: absolute;
  bottom: 300;
  top: 0;
  left: 0;
  right: 300;
  display: flex;
  padding:50px;
  justify-content: ;
  align-items: top-left;
  flex-direction: column;


}

#hero1 h1 {
  margin: 30px 0 30px 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 50px;
  text-transform: ;
  color: #2822a9;
  text-align: left;
}

/*--------------------------------------------------------------
# Hero2 Section
--------------------------------------------------------------*/

#hero2 .hero2-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding:350px;
  justify-content: ;
  align-items: center;
  flex-direction: column;

}

#hero2 h2 {
  margin: 30px 0 30px 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 50px;
  text-transform: ;
  color: #2822a9;
  text-align: center;
}



#hero2 .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #2822a9;
  height: 100px;
  width:100%;
  position: relative;
  background: #fafafa;
}

#hero2 .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #2822a9;
}

#hero2 .icon a {
  display: inline-block;
}

#hero2 .icon i {
  color: #fff;
  font-size: 24px;
}

#hero2 .box:hover .icon {
  background: #fff;
  border: 2px solid #2822a9;
}

#hero2 .box:hover .icon i {
  color: #2822a9;
}

#hero2 .box:hover .icon a {
  color: #2822a9;
}

#hero2 .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#hero2 .title a {
  color: #111;
}

#hero2 .description {
  font-size: 14px;
  line-height: 24px;
}



